@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.faux-nav {
    width: auto;
    height: 60px;
    background-color: #ff7101;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(247, 235, 235);
}
.faux-brand {
    font-weight: 800;
    font-size: 25px;
}
.nav-list {
    list-style-type: none;
    padding: 0;
}
.nav-list li{
    display: inline;
    margin-left: 40px;
}
.nav-list li a {
    color: rgb(247, 235, 235);
    text-decoration: none;
}
.nav-list li a:hover {
    border-bottom: 2px solid rgb(247, 235, 235);
    position: relative;
    top: 1.5px;
    color: rgb(247, 235, 235);
}
.social-icons {
    font-size: 25px;
}
.index-header {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    width: 65%;
    margin: 50px 0;
    background-color: rgb(93, 175, 175);
    color: white;
    display: flex;
}
.header-text {
    width: 35%;
    box-sizing: border-box;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 80px;
}
.header-text span {
    font-size: 40px;
}
.header-content p {
    font-size: 12px;
}
.icon-left i{
    font-size: 50px;
    position: relative;
    bottom: 130px;
    right: 130px;
    background-color: #ff7101;
    width: 40px;
    padding: 5px;
}
.header-content a {
    color: white;
    text-decoration: none;
}
.header-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-image img {
    width: 300px;
}
.left-arrow {
    display: flex;
    align-items: center;
    font-size: 50px;
    position: relative;
    left: -20px;

}
.right-arrow {
    display: flex;
    align-items: center;
    font-size: 50px;
    position: relative;
    left: 40px;

}

.left-arrow i,
.right-arrow i {
    background-color: #ff7101;
    padding: 10px
}
.card-section {
    width: 100%;
    background-color: #E6E6E6E6;
    display: flex;
    justify-content: center;
    margin: 0 0 60px 0;
}
.card-content {
    width: 1300px;
    padding: 30px 30px 60px 30px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height: 70%;
    padding: 0 30px;
    margin: 30px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-icon {
    font-size: 80px;
    color: #ff7101;
}
.card-text span {
    color: #27BEC5;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.card-text p {
    text-align: justify;
    font-size: 14px;
}
.card-button {
    font-size: 20px;
    position: relative;
    top: 20px;
}
.card-button a {
    text-decoration: none;
    background-color: #27BEC5;
    color: white;
    padding: 10px;
}
.faux-footer {
    width: auto;
    background-color: #ff7101;
    color: #E6E6E6;
    display: flex;
    justify-content: space-around;
}
.faux-footer .social-icons {
    padding: 13px 0 0 0;
}
.footer-contact {
    width: 300px;
    text-align: right;
}
.copyright {
    width: auto;
    background-color: #E6E6E6;
}
.copyright span {
    display: block;
    text-align: center;
}
